.app___container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    > .app__logo {
        height: 120px; width: 120px;
        -webkit-animation: logo___animate___default 5s linear infinite;
        animation: logo___animate___default 5s linear infinite;
        perspective: 100px;
    }
}
// Start logo___animate___default
    @-webkit-keyframes logo___animate___default {
        from { -webkit-transform: rotate(0deg) translateX(20px) rotate(0deg); }
        to   { -webkit-transform: rotate(360deg) translateX(20px) rotate(-360deg); }
    }

    @-moz-keyframes logo___animate___default {
        from { -moz-transform: rotate(0deg) translateX(20px) rotate(0deg); }
        to   { -moz-transform: rotate(360deg) translateX(20px) rotate(-360deg); }
    }

    @-o-keyframes logo___animate___default {
        from { -o-transform: rotate(0deg) translateX(20px) rotate(0deg); }
        to   { -o-transform: rotate(360deg) translateX(20px) rotate(-360deg); }
    }

    @keyframes logo___animate___default {
        from { transform: rotate(0deg) translateX(20px) rotate(0deg); }
        to   { transform: rotate(360deg) translateX(20px) rotate(-360deg); }
    }
// End logo___animate___default
// Start logo___animate___770px
    @-webkit-keyframes logo___animate___770px {
        from { -webkit-transform: rotate(0deg) translateX(4px) rotate(0deg); }
        to   { -webkit-transform: rotate(360deg) translateX(4px) rotate(-360deg); }
    }

    @-moz-keyframes logo___animate___770px {
        from { -moz-transform: rotate(0deg) translateX(4px) rotate(0deg); }
        to   { -moz-transform: rotate(360deg) translateX(4px) rotate(-360deg); }
    }

    @-o-keyframes logo___animate___770px {
        from { -o-transform: rotate(0deg) translateX(4px) rotate(0deg); }
        to   { -o-transform: rotate(360deg) translateX(4px) rotate(-360deg); }
    }

    @keyframes logo___animate___770px {
        from { transform: rotate(0deg) translateX(4px) rotate(0deg); }
        to   { transform: rotate(360deg) translateX(4px) rotate(-360deg); }
    }
// End logo___animate___770px
@media screen and (max-width: 770px) {
    .app___container {
        margin: 0 10%;
        > .app__logo {
            height: 120px; width: 120px;
            -webkit-animation: logo___animate___770px 5s linear infinite;
            animation: logo___animate___770px 5s linear infinite;
        }
    }
}